{% extends 'layout-admin.html.twig' %}
{% block title %}- Admin - Edit Article #{{article.id}}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% if article.id is not empty %}
        <h2 class="display-4">Update Article #{{article.id}}</h2>
        {% else %}
        <h2 class="display-4">Create Article</h2>
        {% endif %}
        <hr>
        {% if session.flash_message is not empty %}
        {% for message in session.flash_message %}
        <div class="col-12">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="clear_flash">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="col-12">
            <form method="POST">
                <input type="text" class="d-none" id="id" name="id" value="{{article.id}}">
                <div class="form-group">
                    <label for="model">Model *</label>
                    <input type="text" class="form-control" id="model" name="model" value="{{article.model}}">
                </div>
                <div class="form-group">
                    <label for="brand_id">Brand</label>
                    <select class="form-control" id="brand_id" name="brand_id">
                        <option value={{article.brand_id}}>{{article.brand_name}}</option>
                        {% for brand in brands %}
                        {% if brand.id != article.brand_id %}
                        <option value={{brand.id}}>{{brand.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="color_id">Color</label>
                    <select class="form-control" id="color_id" name="color_id">
                        <option value={{article.color_id}}>{{article.color_name}}</option>
                        {% for color in colors %}
                        {% if color.id != article.color_id %}
                        <option value={{color.id}}>{{color.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="size_id">Size</label>
                    <select class="form-control" id="size_id" name="size_id">
                        <option value={{article.size_id}}>{{article.size}}</option>
                        {% for size in sizes %}
                        {% if size.id != article.size_id %}
                        <option value={{size.id}}>{{size.size}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="price">Price *</label>
                    <input type="text" class="form-control" id="price" name="price" value="{{article.price}}">
                </div>
                <div class="form-group">
                    <label for="qty">Qty *</label>
                    <input type="text" class="form-control" id="qty" name="qty" value="{{article.qty}}">
                </div>

                <p class="h4 mb-3">Ajouter des images
                    <a href="#" onclick="addInputImage()" class="btn btn-sm btn-pumpkin mb-3 m-auto" id="btn-add-image">
                        <i class="fas fa-plus-circle"></i></a>
                </p>
                {{dump(article)}}
                {% set countImg = article.images|length %}
                {% for i in 0..countImg -1 %}
                <div class="form-group image-cls" id="images">
                    <label for="image_id_{{i + 1}}">Image {{i + 1}}</label>
                    <input type="text" class="form-control animal-image" id="image_id[_{{i + 1}}]"
                        value="{{ article.images[i].url }}" name="images[]">
                    <input type="hidden" value="{{ article.images[i].id }}" name="image_id[]">
                </div>
                <div class="row">
                    <div class="col-10">
                        <img src="{{ article.images[i].url }}" alt="{{article.model}}" class="img-fluid mx-auto" style="width: 200px">
                    </div>
                    <div class="col-2">
                        <a href="/admin/deleteImage/{{article.images[i].id}}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {% endfor %}
                <div class="small">* Champs obligatoires</div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    var divImages = document.getElementById('images');
    var counter = document.getElementsByClassName('image-cls').length;
    addInputImage = () => {
        var newdiv = document.createElement('div');
        newdiv.innerHTML = '<label for="image">Image ' + (counter + 1) + '</label><input type="text" class="form-control" id="image" name="images[]">';
        divImages.appendChild(newdiv);
        counter++;
    }
</script>
{% endblock %}