{% extends 'layout.html.twig' %}
{% block title %}- Account{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row pl-2">
        <h3 class="big-title text-xxl">| Account</h3>
    </div>
    {% if session.flash_message is not empty %}
    {% for message in session.flash_message %}
    <div class="row pl-2">
        <div class="col-12">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="clear_flash">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <form method="POST">
        <div class="row pl-2 my-3 text-center">
            <div class="col-lg-6 col-md-6 col-xs-12 mb-4">
                <label for="password">{{user.email}} || {{user.username}}</label>
                <input type="password" class="form-control" name="password" id="password" value="1234">
            </div>
            {% if session.id == 2 %}
            <div class="col-lg-6 col-md-6 col-xs-12 text-center pb-5">
                    <button type="submit" class="btn btn-red big-title text-lg" name="update_user" data-toggle="tooltip"
                        data-placement="top" title="try 'plop' password for plop user">Update
                        informations</button>
            </div>
            {% else %}
            <div class="col-lg-6 col-md-6 col-xs-12 text-center pb-5">
                <button type="submit" class="btn btn-red big-title text-lg" name="update_user">Update
                    informations</button>
            </div>
            {% endif %}
        </div>
    </form>
    <div class="col-12 my-5">
        <h3>Order history</h3>
        <p>Nothing yet here...</p>
    </div>
    <div class="col-12 my-5">
        <h3>Wishlist</h3>
        <div class="row">
            {% for article in wishlist %}
            <div class="col-lg-3 col-md-4 col-xs-12 my-3 d-flex align-items-stretch">
                <div class="card">
                    <div class="mx-auto">
                        {% if article.images|length > 1 %}
                        <div class="img-article-cart">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{{article.images[0].url}}" class="d-block w-100" alt="">
                                    </div>
                                    {% for i in 1..article.images|length - 1 %}
                                    <div class="carousel-item">
                                        <img src="{{article.images[i].url}}" class="d-block w-100" alt="">
                                    </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
                                    <span class="sr-only text-dark">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
                                    <span class="sr-only text-dark">Next</span>
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <div class="img-article-cart">
                            <img src="{{article.images[0].url}}" class="d-block w-100" alt="">
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-footer bg-white">
                        <div class="row">
                            <div class="col-10">
                                <a href="/home/showArticle/{{article.id}}">
                                    <h5 class="card-title">{{article.model}} - {{article.brand_name}} -
                                        <small>{{article.price}} $</small></h5>
                                </a>
                            </div>
                            <div class="col-2">
                                <div class="text-right">
                                    {% if session.username is not empty %}
                                    {% if article.is_liked == true %}
                                    <a href="/home/dislike/{{ article.id }}"><i class="fas fa-heart"></i></a>
                                    {% else %}
                                    <a href="/home/like/{{ article.id }}"><i class="far fa-heart"></i></a>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <p>size : {{article.size}}</p>
                        {% if article.qty > 0 %}
                        <form method="POST">
                            <input type="text" class="d-none" name="add_article" value="{{article.id}}">
                            <button type="submit" class="btn btn-green btn-lg btn-block mt-4"><i
                                    class="fas fa-cart-arrow-down" style="width: 100%"></i></a>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}